
TILOPAY_WEBHOOK_SECRET=your_tilopay_webhook_secret_here
TILOPAY_BASE_URL=https://app.tilopay.com/api/v1
TILOPAY_API_KEY=your_tilopay_api_key_here
TILOPAY_USER=your_tilopay_user_here
TILOPAY_PASSWORD=your_tilopay_password_here


RESEND_API_KEY=your_resend_api_key_here
ORDER_NOTIFICATION_EMAIL=your_email@example.com


APP_URL=https://patchhouse.shopping


BETSY_API_KEY=your_betsy_api_key_here
BETSY_API_URL=https://www.betsycrm.com/api/integration/orders/create
